*{
  transition: all 0.2s ease
}
label>span{

  width: 200px;
  display: inline-block
}
body{
  background-color:#000000;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
}
h1{
  font-size: 5.625em;
}
p{
  color: white;
}
.deletable{
  cursor: pointer;
  transition: all 0.5s ease;
}

.dead {
  text-decoration: line-through;
  background: #aa0000;
  color: #ccc;
  opacity: 0.8;
}

.deletable:hover{
  background-color:#dd0000;
}

.modal{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 140px;
  overflow:auto;
  border-bottom: solid 1px black;
  padding: 1em;
  background: rgb(200, 200, 200);
}

.log{
  font-size: 80%;
  border-bottom: solid 1px #444;
}

.family{
  padding: 0.25em;
  border: solid 1px #333;
  border-radius: 1em;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}

.place{
  float: left;
  width: 300px;
  padding: 10px;
}

.box{
  margin: 0.25em;
  padding: 0.25em;
  border: solid 1px #444;
}

.box h5{
  text-decoration:underline
}
